<!doctype html>

<html>
    <head>
        <base target="_top" />

        <?!= include("CSS/styles.css"); ?>
    </head>
    <body>
        <div id="app">
            <?!= include("Views/dashboard.html"); ?> <?!=
            include("Views/expenses-form.html"); ?> <?!=
            include("Views/expenses.html"); ?> <?!=
            include("Views/sales-form.html"); ?>
        </div>

        <?!= include("JS/app.js"); ?> <?!= include("JS/expenses.js"); ?> <?!=
        include("JS/router.js"); ?> <?!= include("JS/sales.js"); ?> <?!=
        include("JS/utils.js"); ?>
    </body>
</html>
